go 1.21.5

use (
	./01Hello
	./02Variables
	./03UserInput
	./04Conversion
	./05MyTime
	./06MyPointers
	./07MyArray
	./08MySlices
	./09MyMaps
	./10MyStructs
	./11IfElse
	./12SwitchCase
	./13Loops
	./14Functions
	./15Methods
	./16Defer
	./17Files
	./18WebRequests
	./19Urls
	./20Webreqverbs
	./21AboutJson
	./22MyModules
)
